.Card img {
  border: 10px solid black;
  width: 30vw;
  height: 70vh;
}

.description__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
}

.description__paragraph {
  font-size: 1.5rem;
}

.description__button {
  width: 200px;
}
