header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

#logo {
  font-size: 2rem;
}

.menu-link {
  font-size: 18px;
  margin-right: 30px;
  color: white;
}
